*{
	font-family: 'Segoe UI';
}

img {
	height: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;

}

body {
	background-color: skyblue;
	box-sizing: border-box; 

}

.signup-form {
	width: 400px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 3px;
	background: white;
	height: 450px;
	margin: 0 auto;
}

h1 {
	padding-top: 40px;
	text-align: center;
	font-size: 35px;
}

input, button {
	width: 320px;
	border: 2px;
	border-color: black;
	padding: 15px;
	border-radius: 3px;
}

input {
	background-color: lightgrey;
	border: solid black 1px;
}

button {
	font-size: 16px;
	background-color: #67B56F;
	color: white;
	display: inline-block;
}

h3 {
	text-align: center;
	color: white;
}

a {
	color: white;
}